<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <center>
      <title>Comentarios</title>
    </center>
</head>
<body>
    <center>
    {% if comentarios_lista %}
        <ul>
          <table style="width:100%">
            <tr>
              <th>Comentario</th>
              <th>Fecha</th>
              <th>Dirección IP</th>
            </tr>
            {% for comentario in comentarios_lista %}
            <tr>
              <td>{{ comentario.contenido }}</td>
              <td>{{ comentario.fecha }}</td>
              <td>{{ comentario.ip }}</td>
            </tr>
            {% endfor %}
        </ul>
    {% else %}
    <p>No hay comentarios</p>
    {% endif %}
<form action="comentar/" method="POST" id="usrform">
  <textarea rows="4" cols="30" name="comment" form="usrform">Escribe un comentario</textarea>
    <input type="hidden" name="next" value="{{ request.path }}">
  <input type="submit">
</form>
<br>
</center>
</body>
</html>
